{% extends "SITPlatformBundle::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

    {% block sitplatform_center %}
<div class="nodatafound">
    No Data found
</div>
    {% endblock %}
